.movingImg1{
    top: 0;
    left: -100px;
    width: 250px;
    height: 140px;
    border-radius: 10px;
    animation: movingImage1 2s linear .3s infinite alternate ;
    object-fit: cover;
    position: absolute;
    opacity:  0.6;
    
}

.movingImg2{
    top: 0;
    left: 300px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    animation: movingImage2 2s linear .3s infinite alternate ;
    object-fit: cover;
    position: absolute;
    opacity:  0.6;
}


.movingImg3{
    top: 400px;
    left: -100px;
    width: 200px;
    height: 120px;
    border-radius: 10px;
    animation: movingImage3 2s linear .3s infinite alternate ;
    object-fit: cover;
    position: absolute;
    opacity:  0.6;
}

.movingImg4{
    top: 320px;
    left: 500px;
    width: 200px;
    height: 120px;
    border-radius: 10px;
    animation: movingImage3 2s linear .3s infinite alternate ;
    object-fit: cover;
    position: absolute;
    opacity:  0.6;
}

@keyframes movingImage1 {
    0%{ transform: translateY(-60px) }
    100%{ transform:   translateY(-100px);}
}

@keyframes movingImage2 {
    0%{ transform: translateY(-140px) }
    100%{ transform:  translateY(-110px) ;}
}

@keyframes movingImage3 {
    0%{ transform:  translateY(-30px) }
    100%{ transform:  translateY(0px) ;}
}